/* base file for shared variables / formatting between index and speakers page */

:root {
  /* create variables to be used through the site */

  --color-primary: #ff7b54;
  --color-text-on-primary: #ffffff;
  --color-text-on-secondary: #000000;

  --color-button-border: var(--color-text-on-primary);

  --color-button-primary-bg: var(--color-text-on-primary);
  --color-button-primary-text: var(--color-primary);

  --color-button-secondary-bg: var(--color-primary);
  --color-button-secondary-text: var(--color-text-on-primary);

  --font-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
}

.body--primary {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);
}

.body--secondary {
  background-color: var(--color-text-on-primary);
  color: var(--color-primary);
}

h2,
p {
  margin: 0;
}

a {
  color: inherit; /* inherit color from parent */
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 3fr 34px;
  grid-template-rows: 1fr;
  grid-template-areas: "logo nav shopping-cart";
  align-items: center;
  padding: 0 60px; /* top/bottom left/right */
}

.header__link {
  font-size: 40px;
  font-weight: bold;
}

.nav {
  display: inline-block;
  justify-self: end;
}

.nav__list {
  list-style: none;
  display: flex;
}

.nav__list-item {
  margin-inline-end: 36px; /* using inline-end for more responsiveness to different languages */
  font-size: 20px;
}

.main {
  padding: 150px;
}

.button {
  font-size: 32px;
  padding: 0 64px;
  height: 100px;
  border: 4px solid var(--color-button-border);
  box-sizing: border-box;
  cursor: pointer;
  transition: outline 0.2s linear; /* for smoother transition of hover */
}

.button:hover,
.button:focus {
  outline: 2px solid var(--color-text-on-primary);
}

.button--primary {
  background-color: var(--color-button-primary-bg);
  color: var(--color-button-primary-text);
}

.button--secondary {
  background-color: var(--color-button-secondary-bg);
  color: var(--color-button-secondary-text);
}

.menu {
  display: none; /* remove from the DOM on default */
}

.close {
  display: none; /* remove from the DOM on default */
}

.menu,
.close {
  cursor: pointer;
}

@media (max-width: 1220px) {
  .button {
    font-size: 24px;
    padding: 0 32px;
    height: 70px;
  }

  .button img {
    width: 20px;
  }
}

@media (max-width: 840px) {
  .body--no-scroll {
    overflow: hidden;
  }

  .menu {
    display: block;
    background-color: transparent;
    border: none;
  }

  .menu--hide {
    display: none;
  }

  .close--show {
    display: block;
    background-color: transparent;
    border: none;
  }

  .nav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: var(--color-primary);
    top: 60px;
    left: -200%;
    padding-top: 60px;
    transition: left 0.2s linear; /* animate transition from left to right rather than width */
  }

  .nav--visible {
    left: 0;
  }

  .nav__list {
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
  }

  .nav__list-item {
    font-size: 60px;
    font-weight: bold;
  }

  .header {
    display: grid;
    grid-template-columns: 33px 1fr 34px;
    justify-items: center;
  }
}

@media (max-width: 815px) {
  .main {
    padding: 75px;
  }
}

@media (max-width: 700px) {
  .button {
    font-size: 16px;
    margin-top: 24px;
  }

  .button-container {
    margin-top: 32px;
    flex-wrap: wrap;
  }
}
